nextflow.enable.dsl = 2
workDir="/lisc/scratch/course/2024w301060/gonzalez/"

singularity {
  enabled = true
}

process {
  withLabel: local {
    executor = 'local'
    cpus = 1
  }
}

executor {
    name = 'slurm'
    queueSize = 5000
    pollInterval = '15sec'
    submitRateLimit = '100sec'
}

tower {
  enabled = true
}
